<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">

        <!-- Column 1: Moon Photography Info -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Moon Photography Info</h3>
          <ul>
            <li><a href="#">Best Camera Settings</a></li>
            <li><a href="#">Beginner Tips</a></li>
            <li><a href="#">Choosing the Right Lens</a></li>
            <li><a href="#">Night-Sky Safety Guide</a></li>
          </ul>
        </div>

        <!-- Column 2: Observation & Location Guides -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Moon-Viewing Locations</h3>
          <ul>
            <li><a href="#">Top Urban Viewpoints</a></li>
            <li><a href="#">Rural Dark-Sky Sites</a></li>
            <li><a href="#">Lunar Rise/Set Timetable</a></li>
            <li><a href="#">Weather & Light Pollution Map</a></li>
          </ul>
        </div>

        <!-- Column 3: Lunar Knowledge -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Learn About the Moon</h3>
          <ul>
            <li><a href="#">Moon Phases Explained</a></li>
            <li><a href="#">Upcoming Lunar Events</a></li>
            <li><a href="#">Supermoons & Eclipses</a></li>
            <li><a href="#">Types of Moons</a></li>
          </ul>
        </div>

        <!-- Column 4: Community & Resources -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Community Resources</h3>
          <ul>
            <li><a href="#">Photography Workshops</a></li>
            <li><a href="#">User Photo Gallery</a></li>
            <li><a href="#">Submit Your Moon Photo</a></li>
            <li><a href="#">FAQ & Support</a></li>
          </ul>
        </div>

      </div>

      <!-- Social Media Row (Icons preserved; add/keep your FA icons here) -->
      <div class="row mt-4 text-center">
        <div class="col">
          <!-- Example Font Awesome icons -->
          <a href="#" class="me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

    </div>
  </div>
  <!-- End Footer Row -->
</footer>

